@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;1,500&display=swap');

body{
    margin: 0;
    // background-color: rgba(10,20,50, 0.1);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
 
// header{
//     // background-color: rgba(255,255,255,0.1);
//     // position: fixed;
//     // width: 100%;
// }