$black: rgb(50,50,50);
$blue: rgba(10,100,200,0.75);

.filter{
    li{
        transition: all 0.2s;
        padding: 8px;
        border-radius: 16px;
        a{
            color: $black;
            text-decoration: none;
            padding: 4px;
            &:visited{
                color: $black;
            }
    
        }
        &:hover{
            background-color: $blue;
        }
        &.current-cat{
            background-color: $blue;
            color: snow;
            a{
                color: snow;
            }
        }
    }

}

.menu-wrapper, .menu, .menu ul li{
    width: 100%;
}

.menu ul, .filter ul{
    list-style: none;
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    padding: 0;
    margin-left: 20%;
    margin-right: 20%;

    li{
        text-align: center;
        padding: 8px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        border-bottom: 2px solid rgba(0,0,0,0);
        &:hover{
            border-bottom: 2px solid $blue;
            cursor: pointer;
        }

        a{
            text-decoration: none;

            &:visited{
                color: $black;
            }
        }
        &.current_page_item {
            border-bottom: 2px solid $blue;
         }
    }
}
